.container {
    display: flex;
}

.containerMain {
    width: 100%;
    margin: 8rem 4rem;
    padding: 0 2rem;
  
    display: flex;
    flex-direction: column;

    h1 {
        color: var(--white);
        text-align: center;  
        margin-bottom: 1rem;     
    }
}
